body { 
	text-align:center;
	font-size:1em;
}

div#item { 
		width:40%;      
      border: thin black solid;
      text-align:center;
      font-size:5em;
      margin:0 auto 0.2em auto;
		margin-bottom:0.2em;
		color:red;
}

h2{
   padding:1em 0 0.5em 0;
   margin:1em 0 0 0;
}
