h1{
	text-align:center;	
}

#pregresp{
	border:thin black solid;	
	margin-left:10%;
	margin-right:10%;
	margin-bottom:1em;
	text-align:center;
	padding:1em;
}

#botorespon{
	text-align:center;
	margin-bottom:2em;
}

#nota{
	font-size:large;
	text-align:center;
}

#solucions{
	background-color:#F7B249;	
	margin-left:10%;
	margin-right:10%;
	margin-top:1em;	
	
}
