h1{
	text-align:center;
}

#n0, #n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #coma, #divisio, #igual, #producte, #resta, #suma, #esborra{
	width:40px; 
	height:40px;
	float:left;
	border: solid black thin;
	margin:1px;
	text-align:center;
	vertical-align:middle;
	padding:0;
	background-color:white;
}
#n0:hover, #n1:hover, #n2:hover, #n3:hover, #n4:hover, #n5:hover, #n6:hover, #n7:hover, #n8:hover, #n9:hover, #coma:hover, #divisio:hover, #igual:hover, #producte:hover, #resta:hover, #suma:hover, #esborra:hover{
   background-color:red;
   font-weight:bold;
}


#f0, #f1, #f2, #f3, #f4, #pantalla{
	width:176px;
	margin-left:7px;
	margin-left:7px;
   clear:both;
		
}

#pant{
	width:170px;
	padding:0;
	margin-bottom:5px;
	text-align:right;	
	
}

#calculadora{
	width:190px;
	margin-left:40%;
	margin-right:40%;
	background-color:gray;
	position:absolute;
	padding:5px;
}
